html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow: hidden;
  max-height: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}
* {
  box-sizing: border-box;
}
ul,
li,
ol {
  list-style: none;
  height: auto;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
a {
  text-decoration: none;
  color: black;
}
a,
button,
.artwork {
  cursor: pointer;
  border: none;
  transition: 0.3em ease;
}

a:hover,
button:hover,
.artwork:hover {
  transform: scale(1.05);
}
div {
  height: auto;
}
p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
}
#root {
  height: inherit;
}
:root {
  --color-main: #650689;
  --color-light-pupple: #b70078;
  --color-red: #ea3c61;
  --color-orange: #ff7d4c;
  --color-light-oragne: #ffbc4b;
  --color-yellow: #f9f871;
  --color-pink: #ffe8ff;
  --radius-range: 4px;
  --color-background: #fff5ff;
}

.blind {
  display: none;
}

/*homeHeader*/
.header {
  height: 80px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 17px 0;
}
.header__logo {
  min-width: 200px;
  text-align: center;
}
.header__search {
  min-width: 500px;
  display: flex;
  justify-content: space-around;
}
.search__input {
  min-width: 90%;
  height: 35px;
  border: none;
  border-bottom: 2px solid var(--color-main);
}
.search__input::placeholder {
  text-align: center;
}
.search__btn {
  background-color: transparent;
  width: 8%;
  height: 40px;
  font-size: 25px;
  color: white;
  background-color: var(--color-main);
  border: 1px solid var(--color-main);
  border-radius: var(--radius-range);
  margin-left: 5px;
}
.header__info__btns {
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btn__upload {
  font-size: 35px;
  color: var(--color-main);
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}
.btn__alarm {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  font-size: 35px;
  color: var(--color-main);
  padding: 0;
  cursor: pointer;
}
.alarm__list {
  width: 400px;
  height: 800px;
  background-color: lightgray;
  position: absolute;
  top: 70px;
  left: 1100px;
}
.before_login,
.before__signup-btn {
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 0;
  width: 70px;
  height: 40px;
}
.after_login {
  border: none;
  background-color: transparent;
  font-size: 38px;
  width: 40px;
  height: 40px;
}
.my__choiceList {
  position: absolute;
  top: 70px;
  left: 1510px;
  background-color: var(--color-main);
  width: 130px;
  height: auto;
  font-size: 12px;
  border-radius: 8px;
}
.my__choiceList li {
  margin: 12px 0;
  text-align: center;
  color: white;
}
.my__choiceList span {
  color: white;
}
.logout__btn {
  background-color: transparent;
  border: none;
}
/*homeNavbar*/
.levels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 5px solid var(--color-main);
  border-left: none;
  border-right: none;
}
.levels li {
  padding: 10px 30px;
}
.footer__wrap {
  position: absolute;
  bottom: 0;
  display: block;
  height: 50px;
  width: 100%;
  background-color: lightgray;
}

.menu {
  clear: both;
  background: #fff;
  padding: 0 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.main__wrap {
  max-width: 1000px;
  padding: 40px 0;
  margin: 0 auto;
  height: auto;
}

footer {
  width: 100%;
  height: 50px;
  background-color: lightgray;

  text-align: center;
  font-size: 18px;
}

.paginate__btn-pre,
.paginate__btn-next {
  padding: 0;
  background-color: transparent;
  color: var(--color-main);
  font-size: 40px;
  width: 40px;
}
