.artwork__viewer__title {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}
.artwork__viewer__work__wrap {
  width: 80%;
  margin: 40px auto;
  background-color: lightgray;
}
.artwork__viewer__work {
  width: 100%;
  object-fit: scale-down;
  align-items: center;
  margin: 0 auto;
}
.artwork__viewer__info,
.artwork__viewer__artistNickname,
.artwork__viewer__sponsor {
  width: 80%;
  height: 100px;
  background-color: lightgray;
  margin: 20px auto;
}
.artwork__viewer__btns {
  width: 80%;
  height: 40px;
  justify-content: center;
  margin: 20px auto;
  display: flex;
}
.work_like,
.work_report {
  width: 60px;
  height: 30px;
  background-color: unset;
  border-radius: 5px;
  margin: auto 10px;
}
.related_work_recommendation {
  width: 100%;
  height: 200px;
  background-color: lightgray;
  margin: 20px auto;
}
.comment__wrap {
  width: 100%;
  height: 200px;
  margin: 20px auto;
  background-color: lightgray;
}
