.hidden {
  display: none;
}
.info__donation {
  width: 80%;
  height: auto;
  border: 5px solid var(--color-pink);
  border-radius: 16px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}
.info__donation table {
  margin: 0 auto;
}
.info__donation-1,
.info__donation-2 {
  margin-bottom: 40px;
}
.donation__artist__profile {
  width: 180px;
  height: 180px;
  margin: 50px auto;
  text-align: center;
}
.donation__artist__profile img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid var(--color-light-pupple);
  margin: 0 auto;
}
.donation__artist__profile div {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
.donation_detail {
  margin: 50px auto;
}
.donation_detail ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto;
}
.donation_detail .temporary,
.donation_detail .regular {
  padding: 10px 20px;
  margin: 0 10px;
}
.temporary_donation,
.regular_donation {
  text-align: center;
}
.donation_price {
  border: none;
  border-bottom: 1px solid black;
  height: 40px;
  margin: 20px 0 0 40px;
}
.donation_chart {
  width: 80%;
  height: 300px;
  margin: 50px auto;
  background-color: lightgray;
}
