.recommend__wrap {
  max-width: 1000px;
  height: 280px;
  margin: 0 auto;
  padding: 10px 10px 10px;
  background-color: #bfaeee;
}
.container {
  clear: both;
  position: relative;
  -moz-text-align-last: 980px;
  display: block;
  min-height: 350px;
  height: auto;
  padding: 8px 0;
  margin: 0 auto;
}
.contents__wrap {
  float: left;
  position: relative;
  width: 730px;
  height: auto;
  min-height: 300px;
  padding-left: 10px;
  border: 1px solid black;
}
.contents {
  margin: 0 20px 20px;
  height: auto;
}
.contents__sort {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.contents__sort li {
  padding: 10px;
}
.contents__artworks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start space-evenly;
}
.artwork {
  width: 120px;
  margin: 10px 20px;
}
.artwork__img {
  width: 100px;
  height: 80px;
}
.artwork__work__title {
  color: black;
}
.artwork__artist__title {
  color: gray;
}
.artwork__hashtag {
  color: lightgray;
  font-size: 10px;
}
.levels__top5 {
  float: right;
  width: 250px;
  padding-right: 10px;
  border: 1px solid black;
}
.categories {
  display: flex;
  flex-direction: row;
  margin: 20px 20px 0 20px;
}
.categories li {
  padding: 10px 20px;
}
.category__btn.active,
.sort__btn.active,
.level__btn.active {
  font-weight: bold;
}
