.login__wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  text-align: center;
  padding: 30px 10px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login__id-input,
.login__pwd-input {
  width: 350px;
  margin: 20px 10px;
  border: none;
  border-bottom: 1px solid lightgray;
  display: inline;
}
.login__id,
.login__pwd {
  padding: 10px 0;
}
.login__btn {
  width: 300px;
  height: 40px;
  margin: 0 auto;
}
