.artist_profile {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.artist_detail {
  width: 60%;
  height: 100%;
}
.artist_img_wrap {
  width: 15vw;
  height: 15vw;
  margin: 20px auto;
}
.artist_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid var(--color-pink);
}
.artist_introduce {
  width: 80%;
  height: 100px;
  margin: 20px auto;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.artist_btn {
  width: 40%;
}
.like,
.dona {
  position: relative;
  top: 25%;
  font-size: 15px;
  display: block;
  height: 50px;
  width: 50%;
  margin: 10px auto;
  background-color: unset;
  border: 1px solid black;
  border-radius: 5px;
}
.artist_work {
  width: 95%;
  height: auto;
  padding: 20px 0;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 8px;
  background-color: var(--color-pink);
}
.artist_btn button:hover {
  transform: scale(1.05);
}
.artist_btn button {
  transition: 0.3em ease;
}
