.searching_result {
  width: 90%;
  padding: 20px;
  margin: 20px auto;
}
.professional_search,
.advanced_search,
.novice_search {
  width: 90%;
  border-bottom: 1px solid black;
  padding: 20px 20px;
  margin: 0 auto;
}
.novice_search {
  border: none;
}
.professional_search_list,
.advanced_search_list,
.novice_search_list {
  padding: 20px 20px;
  width: 100%;
  min-height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}
.result_more {
  display: block;
  text-align: right;
}
