.signUp__wrap {
  width: 500px;
  margin: 0 auto;
}
.input {
  margin: 40px 0;
}
.label {
  margin: 10px 0;
}
.signUp__wrap input {
  width: 500px;
  height: 30px;
}
#yy,
#dd {
  width: 140px;
}
#mm {
  width: 140px;
  height: 35px;
  margin: 0 20px;
}
#gender {
  width: 500px;
  height: 40px;
}
#phoneNo {
  width: 350px;
  margin-bottom: 10px;
}
.phone_btn {
  display: inline-block;
  width: 120px;
  height: 35px;
  margin-left: 20px;
  border: 1px solid lightgray;
  background-color: lightgray;
}
.submint_btn {
  border: none;
  width: 500px;
  height: 35px;
  background-color: lightgray;
}
