.signUp__wrap {
  max-width: 450px;
  margin: 20px auto;
}
.input {
  margin: 40px 0;
}
.label {
  margin: 10px 0;
}
.signup__status__Message {
  font-size: 15px;
  color: red;
  margin: 10px 0;
}
.signUp__wrap input {
  width: 450px;
  height: 30px;
}
#nickname {
  width: 300px;
}
.nickname__btn {
  width: 130px;
  height: 31px;
  margin-left: 10px;
  background-color: var(--color-pink);
}
#gender {
  width: 450px;
  height: 40px;
}
.submint_btn {
  border: none;
  width: 450px;
  height: 35px;
  color: white;
  background-color: var(--color-main);
}
